<div class="cart-container">
  <h2>Koszyk rezerwacji</h2>

  <div *ngIf="futureReservations.length === 0 && pastReservations.length === 0">
    <p>Brak zarezerwowanych wizyt.</p>
  </div>

  <h3>Przyszłe wizyty</h3>
  <ul *ngIf="futureReservations.length > 0">
    <li *ngFor="let reservation of futureReservations">
      <div class="reservation-details">
        <p><strong>Typ:</strong> {{ reservation.type }}</p>
        <p><strong>Data:</strong> {{ reservation.date }}</p>
        <p><strong>Godzina:</strong> {{ reservation.startTime }}</p>
        <p><strong>Lekarz:</strong> {{ reservation.doctorName }}</p>
        <button (click)="cancelReservation(reservation)">Anuluj</button>
      </div>
    </li>
  </ul>

  <h3>Przeszłe wizyty</h3>
  <ul *ngIf="pastReservations.length > 0">
    <li *ngFor="let reservation of pastReservations" class="past-visits">
      <div class="reservation-details">
        <p><strong>Typ:</strong> {{ reservation.type }}</p>
        <p><strong>Data:</strong> {{ reservation.date }}</p>
        <p><strong>Godzina:</strong> {{ reservation.startTime }}</p>
        <p><strong>Lekarz:</strong> {{ reservation.doctorName }}</p>
      </div>

      <div *ngIf="reservation.isReviewed" class="review-details">
        <h5>Twoja opinia</h5>
        <p><strong>Ocena:</strong> {{ reservation.review.rating }}/5</p>
        <p><strong>Komentarz:</strong> {{ reservation.review.comment }}</p>
      </div>

<div *ngIf="!reservation.isReviewed" class="review-form">
  <h5>Dodaj opinię</h5>

  <div *ngIf="isBanned">
    <p class="banned-message">Nie możesz dodawać opinii, ponieważ zostałeś zbanowany.</p>
  </div>

  <div *ngIf="!isBanned" class="add-opinion-container">
    <label>
      Ocena:
      <select #rating>
        <option *ngFor="let star of [1, 2, 3, 4, 5]" [value]="star">{{ star }}</option>
      </select>
    </label>
    <label>
      Komentarz:<br>
      <textarea #comment></textarea>
    </label>
    <button (click)="addReview(reservation, +rating.value, comment.value)">Dodaj opinię</button>
  </div>
</div>



    </li>
  </ul>

  <div *ngIf="futureReservations.length > 0" class="payment-section">
    <button (click)="simulatePayment()">Zapłać</button>
    <p *ngIf="paymentStatus">{{ paymentStatus }}</p>
  </div>
</div>
