body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-1 {
    margin-top: 50px;
    margin-left: 50px;
    border: solid #485979 1px;
    background-color: rgb(240, 240, 240);
    width: 500px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
}
p {
    margin-top: 30px;
}