<header>
  <nav>
    <ul>
      <!-- <li><a routerLink="/calendar" routerLinkActive="active">Kalendarz</a></li> -->
      
      <li><a routerLink="/home" routerLinkActive="active">
        <i class="fas fa-home me-2"></i>Strona główna</a></li>
      <li><a routerLink="/doctors" routerLinkActive="active">
        <i class="fas fa-user-md me-2"></i>Lista lekarzy</a></li>


        <li *ngIf="isLoggedIn && userRole === 'admin'">
          <a routerLink="/users" routerLinkActive="active">
            <i class="fas fa-users me-2"></i> Użytkownicy
          </a>
        </li>
        
      <!-- <li *ngIf="isLoggedIn && userRole === 'doctor'">
        <a routerLink="/availability" routerLinkActive="active">
          <i class="fas fa-calendar-alt me-2"></i>Dostępność</a>
      </li> -->

      <li *ngIf="isLoggedIn && userRole === 'doctor'">
        <a routerLink="/doctor-panel" routerLinkActive="active">
          <i class="fas fa-calendar-alt me-2"></i>Panel lekarza</a>
      </li>

      <!-- <li *ngIf="isLoggedIn && userRole === 'doctor'">
        <a routerLink="/absence" routerLinkActive="active">
          <i class="fas fa-ban me-2"></i>Absencje</a>
      </li>
       -->
      
      <li *ngIf="isLoggedIn && userRole === 'patient'">
        <a routerLink="/cart" routerLinkActive="active">
          <i class="fas fa-shopping-cart me-2"></i>Koszyk</a>
      </li>

      <li *ngIf="!isLoggedIn">
        <a routerLink="/register" routerLinkActive="active">
          <i class="fas fa-user-plus me-2"></i>Rejestracja</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active">
          <i class="fas fa-sign-in-alt me-2"></i>Logowanie</a>
      </li>

      <li *ngIf="isLoggedIn" class="user-email">
        <span><i class="fas fa-user me-2"></i>Witaj, {{ userEmail }}</span>
      </li>

      <li *ngIf="isLoggedIn">
        <a (click)="onLogout()">
          <i class="fas fa-sign-out-alt me-2"></i> Wyloguj</a>
      </li>

      
    </ul>
  </nav>
</header>

<main>
  <div *ngIf="showDataSourceSelector" class="data-source-info">
    <div class="choice">
      <p style="margin-right: 10px;">Wybór źródła danych:</p>
      <select class="selector" [value]="currentSource" (change)="onSourceChange($event)" style="margin-top: -10px;">
        <option value="json">Lokalny JSON</option>
        <option value="firebase">Firebase</option>
      </select>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
