.reservation-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select, textarea, button {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
  }
  
  button {
    background-color: #7896CC;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #313c52;
  }
  