body {
    margin: 0;
    background-image: url('./images/bg.jpg');
    background-size: cover;
  
    
  }
h1, h2 {
  color: #485979;
}
h4, h5 {
  color: #485979;
}
h3 {
  color: #485979;
}
p {
  color: #555;
}